*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.container{
    position: relative;
    margin: 0 auto;
    height:400px;
    width: 85%;
    overflow: auto;
    text-align: center;
}

.thinContainer{
    position: relative;
    margin: 0 auto;
    height: 250px;
    width: 85%;
    overflow: auto;
    text-align: center;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.headerBox{
    position: fixed;
    height: 140px;
    width:100%;
}

.headerImage1{
    position: relative;
    background: url("Img/computerNcoffee.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.nameBox {
    position: fixed;
    text-align: center;
    top: 20px;
    left: 50%;
	height: 80px;
	width: 500px;
	transform: translate(-50%,50%);
	background-color: RGBA(64,64,64,0);
	font-size: 3rem;
	transition-timing-function: ease;
	transition: width 1s;
    cursor: pointer;
}

.nameBox:hover {
    background-color: #1091DA;
	width: 100%;
	cursor: pointer;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.sideNav{
    position: fixed;
    right: 0px;
    width: 90px;
    height:100%;
    margin-top: 60px;
    display: inline-block;
    background-color: #1091da;
    z-index: 5;
}

.sideNavList{
    padding: 0px;
    margin-top: 20px;
    float: left;
}

.sideNavIcon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    list-style-type: none;
    margin-top: 60px;
    margin-left: 20px;
}

.sideNavIcon:hover{
    cursor: pointer;
    background-color: #12aaff;
}

.icon{
    transform: translate(25%,25%);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.codingLanguages{
    margin: 0 auto;
    position: relative;
    top: 250px;
    display: block;
    width: 100%;
    height: 120px;
    overflow: auto;
}

.hiddenIcon{
    visibility: hidden;
}

.codingIcon{
    float: left;
    display:inline-block;
    width: 20%;
}

.codingIcon:hover{
    visibility: visible;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.homepageText{
    background-color: #ff7f50;
    font-size: 1.2rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.headerImage2 {
    background: url("Img/skyBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

.footer{x
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #052f47;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
